.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #555;
  margin-bottom: 20px;
}
